.footer{

    width:100%;
    height:150PX;
    padding-top: 75px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cinedc.appspot.com/o/ultima.png?alt=media&token=60a7c315-4023-4b38-a9d0-08665c410f37");
    
}

.imgfooter{

    width: 30px;
    height: 30px;
}

.contfooter{

    padding-top: 60px;
}
