.footer{

    width:100%;
    height:150PX;
    padding-top: 50px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cinedc.appspot.com/o/footersillo.png?alt=media&token=282dab5f-8c1a-4705-b1b5-7f148ad27ecc");
    color: antiquewhite;
}

.imgfooter{

    width: 30px;
    height: 30px;
}

.contfooter{

    padding-top: 60px;
}
